:root {
    --black: #100b27;
    --gray100: #211b33;
    --gray200: #2c2749;
    --gray300: #827a9e;
    --gray400: #aca4d1;
    --accent2: #743bca;
    --accent: #8646f5;
}


/*https://codepen.io/sosuke/pen/Pjoqqp*/

.img-accent {
    filter: invert(23%) sepia(58%) saturate(3028%) hue-rotate(252deg) brightness(93%) contrast(85%);
}