:root {
    --black: #0a0a1e;
    --gray100: #1e1a47;
    --gray200: #2b2d6b;
    --gray300: #4e4c8a;
    --gray400: #7f7cbb;
    --accent2: #00b894;
    --accent: #6c5ce7;
}


/*https://codepen.io/sosuke/pen/Pjoqqp*/

.img-accent {
    filter: invert(23%) sepia(58%) saturate(3028%) hue-rotate(252deg) brightness(93%) contrast(85%);
}