:root {
    --black: #0f1620;
    --gray100: #1d2733;
    --gray200: #303A4D;
    --gray300: #86909c;
    --gray400: #AEB9CB;
    --gray500: #F7F7FB;
    --white: #feffff;
    --accent2: #3b8fca;
    --accent: #46aef5;
    --pay: #da5c9f;
    --green: #45be88;
    --red: #FF3347;
    --front: var(--gray100);
    --back: var(--black);
}
