<div class="flex col">
    <div class="row header align-start-center">
        <div class="flex row align-center text1">{{str.assets}}</div>
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/settings.svg" ng-click="openSettings(refresh)">
        <!--<img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/search.svg" ng-click="openSearch(refresh)">-->
    </div>
    <div class="flex col align-center-start" ng-hide="user.username()">
        <div class="row">
            <div class="flex primary-button"
                 ng-click="openLogin()">
                {{str.login_or_create_account}}
            </div>
        </div>
    </div>
    <div class="flex col scroll align-start-center" ng-show="user.username()">
        <div class="flex col block input-content">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/reload.svg">
            <div class="col align-center-center">
                <div class="row align-center text0" style="margin-top: 40px;">
                    $
                    <div id="total">0</div>
                </div>
                <div class="row align-start-center mt8">
                    <div class="radius-default back-black" ng-style="getIdenticon(user.username())"></div>
                    <p class="ml8">{{user.username()}}</p>
                    <div class="radius-default p8 ripple" ng-click="copy(user.username())">
                        <img class="img22 img-gray400" src="/mfm-wallet/img/copy.svg">
                    </div>
                </div>
            </div>
            <ng-include src="'/mfm-exchange/profile/options.html'"></ng-include>
            <div class="col gap16" ng-hide="!user.username()">
                <ng-include src="'/mfm-wallet/wallet/accounts.html'"></ng-include>
                <p class="text1" ng-show="staked.length > 0">{{str.staking}}</p>
                <div class="col back-gray radius-default"
                     ng-show="staked.length > 0">
                    <div class="row p16 align-start-center ripple"
                         ng-repeat="item in staked"
                         ng-click="openStaking(item.domain, refresh)">
                        <div ng-style="getLogo(item.domain)"></div>
                        <div class="flex col ml16">
                            <p>{{formatDomain(item.domain)}}</p>
                            <p class="mt4 text2">{{formatPrice(item.price)}}</p>
                        </div>
                        <div class="col align-end-end">
                            <p>{{formatAmount(item.amount, item.domain)}}</p>
                            <p class="mt4 text2">{{formatPrice(getPrice(item.domain) * item.amount)}}</p>
                        </div>
                    </div>
                </div>
                <p class="text1" ng-show="orders.length > 0">{{str.active_orders}}</p>
                <ng-include src="'/mfm-exchange/exchange/orders.html'"></ng-include>
                <div class="col" ng-repeat="tran in trans">
                    <div class="text1 mt16">{{tran.day}}</div>
                    <div class="row mt16 p16 radius-default back-gray ripple"
                         ng-repeat="item in tran.items"
                         ng-click="selectTran(item)">
                        <div ng-style="getLogo(item.domain)"></div>
                        <div class="col ml16">
                            <p class="">{{formatAddress(item.txid)}}</p>
                            <p class="mt4 text2 lowercase">
                                {{formatSec(item.time)}}</p>
                        </div>
                        <div class="flex col align-start-end">
                            <div ng-class="{'text-red': item.amount < 0, 'text-green': item.amount > 0}">
                                {{(item.amount > 0 ? "+" : "") + formatAmount(item.amount, item.domain)}}
                            </div>
                            <p class="mt4 text2">{{formatPrice(item.amount * item.token.price)}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>