<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="openSupport()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/support.svg">
        </div>
        <div class="flex row align-center">
            {{str.network}}
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="col radius-default border-gray ripple p16 mh16 mv8" ng-click="close('TRON')">
                <p class="text1">TRON (TRC-20)</p>
                <p class="text2">{{str.avg_deposit_time}} {{formatTime(60)}}</p>
                <p class="text2">{{str.min_deposit_amount}} {{formatAmount(0.1, domain)}}</p>
            </div>
            <div class="col radius-default border-gray ripple p16 mh16 mv8" ng-click="close('VAVILON')">
                <p class="text1">VAVILON</p>
                <p class="text2">{{str.avg_deposit_time}} {{formatTime(1)}}</p>
                <p class="text2">{{str.min_deposit_amount}} {{formatAmount(0.0001, domain)}}</p>
            </div>
            <div></div>
        </div>
    </div>
</md-dialog>